Django==5.2.10

numpy==1.26.4

opencv-python-headless==4.9.0.80

tensorflow==2.15.0
keras==2.15.0

protobuf==4.25.3
ml-dtypes==0.2.0
h5py==3.10.0

absl-py==2.4.0
astunparse==1.6.3
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.76.0
libclang==18.1.1
markdown==3.10.1
opt-einsum==3.4.0
packaging==23.1
pillow==12.1.0
requests==2.32.3
six==1.17.0
termcolor==3.3.0
typing_extensions==4.15.0
urllib3==2.2.2
Werkzeug==3.1.5
wrapt==2.1.1

asgiref==3.11.0
sqlparse==0.5.5
tzdata==2025.3